{
  "presets": [
    [
      "env",
      {
        "es2015": {
          "loose": true,
          "modules": false
        },
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ]
  ],
  "env": {},
  "comments": true
}