@font-face {
  font-family: 'Julius Sans One';
  src: url('/fonts/julius-sans-one/julius-sans-one.eot');
  src: url('/fonts/julius-sans-one/julius-sans-one.eot?#iefix') format('embedded-opentype'),
  url('/fonts/julius-sans-one/julius-sans-one.woff2') format('woff2'),
  url('/fonts/julius-sans-one/julius-sans-one.woff') format('woff'),
  url('/fonts/julius-sans-one/julius-sans-one.ttf')  format('truetype')
}