<div class="container-fluid home">
    <h1 class="text-center home__title">TypeScript</h1>
    <img src="/img/home/background.png" class="home__background animated pulse" alt="Home Background">
    <h2 class="text-center">Application Scale JavaScript Development</h2>

    <a ui-sref="playground">
        <img src="/img/home/play.svg" class="home__play animated bounce" alt="Let's Play">
    </a>

    <a ui-sref="real-world">
        <img src="/img/home/real.svg" class="home__real animated bounce" alt="Real World Examples">
    </a>
</div>