@import "~highlight.js/styles/atom-one-dark.css";
@import "../../assets/images";
@import "../../assets/borders";

.home {
  .home__title {
    font-size: 3rem;
    margin-top: 100px;
  }

  .home__background {
    @extend .image-responsive;

    max-width: 650px;
    margin: 30px auto 0;
  }

  .home__triggers {
    list-style-type: none;
    text-align: center;
  }

  .trigger__item {
    transform: scale(1);
    display: inline-block;
    transition: .1s linear all;
    margin-top: 50px;
    padding: 0 20px;

    &:hover {
      transform: scale(1.4);
    }
  }

  .home__play {
    width: 70px;
  }

  .home__real {
    width: 70px;
  }
}