@import "~highlight.js/styles/atom-one-dark.css";
@import "../../assets/images";
@import "../../assets/borders";

.home {
  .home__title {
    font-size: 3rem;
    margin-top: 100px;
  }

  .home__background {
    @extend .image-responsive;

    max-width: 650px;
    margin: 30px auto 0;
  }

  .home__trigger {
    position: absolute;
    margin-top: 50px;
    cursor: pointer;
    transition: .1s linear all;
  }

  .home__play {
    @extend .home__trigger;

    $max-width: 70px;
    $hover-max-width: $max-width + 20;
    $margin-left: -($max-width / 2);
    $hover-margin-left: -($hover-max-width / 2);

    left: 45%;
    margin-left: $margin-left;
    max-width: $max-width;

    &:hover {
      max-width: $hover-max-width;
      margin-left: $hover-margin-left;
    }
  }

  .home__real {
    @extend .home__trigger;

    $max-width: 70px;
    $hover-max-width: $max-width + 20;
    $margin-right: -($max-width / 2);
    $hover-margin-right: -($hover-max-width / 2);

    right: 45%;
    margin-right: $margin-right;
    max-width: $max-width;

    &:hover {
      max-width: $hover-max-width;
      margin-right: $hover-margin-right;
    }
  }
}