<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light navigation">
    <a class="navbar-brand" ui-sref="home">
        <img src="/assets/img/navigation/ts.svg" class="d-inline-block align-top navigation__brand-logo" alt="TS Logo">
        <span class="navigation__brand-title">TypeScript</span>
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item" ng-repeat="option in $ctrl.navigationOptions">
            <a class="nav-link" ui-sref="{{ option.state }}">{{ option.label }}</a>
        </li>
    </ul>

    <form class="form-inline my-2 my-lg-0" ng-if="$ctrl.navigationSearchStatus">
        <input class="form-control mr-sm-2"
               type="search"
               placeholder="Search"
               aria-label="Search"
               ng-model="$ctrl.searchModel"
               ng-keyup="$ctrl.search()">
    </form>
</nav>