@import "../../../../assets/styles/mixins/border-radius";

.highlighter {
  max-width: 900px;

  .highlighter__label {
    position: relative;
    top: 30px;
    margin-bottom: 0;
  }
}

.highlighter__code {
  @include border-radius(5px);
}